<div
  class="bg-white flex flex-col gap-4 items-center justify-center w-full h-full p-8 rounded-2xl border-[10px] border-black shadow-2xl"
>
  <h1 class="text-4xl font-extrabold">Kitty Clock</h1>
  <div class="border-[10px] border-black rounded-full shadow-2xl">
    <div class="border-[10px] border-white rounded-full">
      <div
        class="h-64 w-64 lg:h-96 lg:w-96 bg-no-repeat bg-center bg-cover rounded-full relative border-[10px] border-primary shadow-2xl"
        style="background-image: url('/img/hello-kitty.png')"
      >
        <div
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-full"
        >
          <div
            *ngFor="let hour of hours; let i = index"
            class="absolute w-full h-full flex items-center justify-center"
            [ngStyle]="{ transform: 'rotate(' + (i - 2) * 30 + 'deg)' }"
          >
            <span
              class="text-3xl font-bold p-4 rounded-3xl w-10 h-10 flex justify-center items-center bg-white shadow-lg"
              [ngStyle]="{
                transform: 'translateX(160px) rotate(' + (i - 2) * 330 + 'deg)'
              }"
            >
              {{ hour }}
            </span>
          </div>
          
          <div
            class="absolute shadow-lg top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border bottom-0 w-1/2 h-[15px] bg-primary-900 rounded-full origin-left"
            [ngStyle]="{ transform: 'translateY(7.5px) rotate(' + hourAngle + 'deg)' }"
          ></div>
          <div
            class="absolute shadow-lg w-1/2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[10px] bg-primary-700 rounded-full origin-left"
            [ngStyle]="{ transform: 'translateY(5px) rotate(' + minuteAngle + 'deg)' }"
          ></div>
          <div
            class="absolute shadow-lg w-1/2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border h-[5px] bg-primary-500 rounded-full origin-left"
            [ngStyle]="{ transform: 'translateY(2.5px) rotate(' + secondAngle + 'deg)' }"
          ></div>

          <div class="absolute h-12 w-12 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary border-[5px] border-white">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>