<div
  class="bg-white flex flex-col gap-4 items-center justify-center w-full h-full p-8 rounded-2xl border-[10px] border-black shadow-2xl"
>
  <h1 class="text-4xl font-extrabold">Kitty Clock</h1>
  <div class="border-[10px] border-black rounded-full shadow-2xl">
    <div class="border-[10px] border-white rounded-full">
      <div
        class="h-96 w-96 bg-no-repeat bg-center bg-cover rounded-full relative border-[10px] border-primary shadow-2xl"
        style="background-image: url('/img/hello-kitty.png')"
      >
        <div
          class="absolute top-1/8 left-1/8 transform -translate-x-1/8 -translate-y-1/8 w-full h-full"
        >
          <div
            *ngFor="let hour of hours; let i = index"
            class="absolute w-full h-full flex items-center justify-center"
            [ngStyle]="{ transform: 'rotate(' + (i - 2) * 30 + 'deg)' }"
          >
            <span
              class="text-3xl font-bold p-4 rounded-3xl w-10 h-10 flex justify-center items-center bg-white shadow-lg"
              [ngStyle]="{
                transform: 'translateX(160px) rotate(' + (i - 2) * 330 + 'deg)'
              }"
            >
              {{ hour }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>